core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/carlosrunner/pizza-not-pizza/pizza_not_pizza/test
inputs/carlosrunner/pizza-not-pizza/pizza_not_pizza/train